@import 'abstracts/constants';

.cookies-panel {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 999;
  background-color: $primary-lighter;
  padding: 10px;
  opacity: 0.9;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    .content {
      &__text {

      }
      &__link {
        text-decoration: none;
      }
      &__btn {
        margin: 10px 20px;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        &:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
}
